<div class="profile-container">
    <div class="info-container panel panel-default">
        <div class="panel-heading">{{vm.user.get("fullName")}} | <span class="username">@{{vm.user.get("username")}}</span></div>
        <div class="panel-body">
            <div class="">
                <div class="num-profiles h4">Plays in {{vm.profiles.length}} leaderboard{{vm.profiles.length !== 1 ? "s" : ""}}</div>
            </div>
            <div class="">
                <div class="num-wins h5">{{vm.numWins}} win{{vm.numWins !== 1 ? "s" : ""}} | {{vm.numLosses}} loss{{vm.numLosses > 1 ? "es" : ""}}</div>
            </div>
        </div>
    </div>
    <div class="table-fluid panel panel-default">
        <div class="panel-heading"><h4>Match History</h4></div>
        <table class="panel-body table table-striped table-hover">
            <thead>
                <tr>
                    <th>Leaderboard</th>
                    <th>Opponent</th>
                    <th>Result</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in vm.matches" ng-if="match.get('player1').get('user').get('fullName') && match.get('player2').get('user').get('fullName')">
                    <td><a href="/#/leaderboards/{{match.get('player1').get('leaderboard').id}}">{{match.get("player1").get("leaderboard").get("name")}}</a></td>
                    <td><a href="/#/users/{{match.get('player1').get('user').id === vm.user.id ? match.get('player2').get('user').id : match.get('player1').get('user').id }}">{{match.get("player1").get("user").id === vm.user.id ? match.get("player2").get("user").get("fullName") : match.get("player1").get("user").get("fullName")}}</a>
                    </td>
                    <td>{{match.get("player1").get("user").id === vm.user.id ? "W" : "L"}}</td>
                    <td>{{match.get("updatedAt") | readableDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
